################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PMStudent/PMStudentApi/obj/Release/net6.0
/PMStudent/PMStudent/obj/Release/net6.0
/PMStudent/PMLecture/obj/Release/net6.0
/.vs/slnx.sqlite
/PMStudent/.vs/PMStudent/v17
/.vs/ProgressMan/FileContentIndex/839eb1fb-8792-433b-aa2d-ea13e4e12b2b.vsidx
/.vs/ProgressMan/FileContentIndex/6ded02f0-47c5-4574-9d18-e5bfa946ffe1.vsidx
/.vs/ProgressMan/FileContentIndex/52ff067f-a058-4820-bc25-192f997ddb05.vsidx
/.vs/ProgressMan/FileContentIndex/12cec5e5-77d3-4815-ac08-70804b961c19.vsidx
/PMStudent/.vs/PMStudent/DesignTimeBuild/.dtbcache.v2
/PMStudent/.vs/PMStudent/FileContentIndex/d3362ac8-b277-451f-a0ad-fb69ed5c4436.vsidx
/PMStudent/.vs/PMStudent/FileContentIndex/a89f2fa9-693b-4b52-8b8a-86c9fac02e15.vsidx
/PMStudent/.vs/PMStudent/FileContentIndex/660d7a75-1edd-44b6-bd03-ea24b426418e.vsidx
/PMStudent/.vs/PMStudent/FileContentIndex/64ff7160-d5cf-456c-be2f-0479378c2820.vsidx
/PMStudent/.vs/PMStudent/FileContentIndex/64d71bcb-d9e9-4dee-9ed8-81cc1b5b6b3c.vsidx
/PMStudent/.vs/PMStudent/FileContentIndex/249b1bef-6796-4506-8342-57c20ce102ca.vsidx
/PMStudent/.vs/PMStudent/FileContentIndex/0a57febb-58d5-47cf-bf8c-05eb2de2bbd4.vsidx
/PMStudent/.vs/ProjectEvaluation/pmstudent.projects.v5.2
/PMStudent/.vs/ProjectEvaluation/pmstudent.metadata.v5.2
/PMStudent/PMStudentApi/bin/Debug/net6.0
/PMStudent/PMStudentApi/obj/Debug/net6.0/staticwebassets
/PMStudent/PMStudentApi/obj/Debug/net6.0/refint
/PMStudent/PMStudentApi/obj/Debug/net6.0/ref
/PMStudent/PMStudentApi/obj/Debug/net6.0/_IsIncrementalBuild
/PMStudent/PMStudentApi/obj/Debug/net6.0/staticwebassets.build.json
/PMStudent/PMStudentApi/obj/Debug/net6.0/PMStudentApi.pdb
/PMStudent/PMStudentApi/obj/Debug/net6.0/PMStudentApi.MvcApplicationPartsAssemblyInfo.cs
/PMStudent/PMStudentApi/obj/Debug/net6.0/PMStudentApi.MvcApplicationPartsAssemblyInfo.cache
/PMStudent/PMStudentApi/obj/Debug/net6.0/PMStudentApi.genruntimeconfig.cache
/PMStudent/PMStudentApi/obj/Debug/net6.0/PMStudentApi.dll
/PMStudent/PMStudentApi/obj/Debug/net6.0/PMStudentApi.csproj.FileListAbsolute.txt
/PMStudent/PMStudentApi/obj/Debug/net6.0/PMStudentApi.csproj.CoreCompileInputs.cache
/PMStudent/PMStudentApi/obj/Debug/net6.0/PMStudentApi.csproj.CopyComplete
/PMStudent/PMStudentApi/obj/Debug/net6.0/PMStudentApi.csproj.BuildWithSkipAnalyzers
/PMStudent/PMStudentApi/obj/Debug/net6.0/PMStudentApi.csproj.AssemblyReference.cache
/PMStudent/PMStudentApi/obj/Debug/net6.0/PMStudentApi.assets.cache
/PMStudent/PMStudentApi/obj/Debug/net6.0/apphost.exe
/PMStudent/PMStudentApi/PMStudentApi.csproj.user
/PMStudent/PMStudent/bin/Debug/net6.0
/PMStudent/PMStudent/obj/Debug/net6.0/scopedcss
/PMStudent/PMStudent/obj/Debug/net6.0/refint/PMStudent.dll
/PMStudent/PMStudent/obj/Debug/net6.0/refint
/PMStudent/PMStudent/obj/Debug/net6.0/ref/PMStudent.dll
/PMStudent/PMStudent/obj/Debug/net6.0/ref
/PMStudent/PMStudent/obj/Debug/net6.0/staticwebassets
/PMStudent/PMStudent/obj/project.nuget.cache
/PMStudent/PMStudent/obj/project.assets.json
/PMStudent/PMStudent/obj/PMStudent.csproj.nuget.g.props
/PMStudent/PMStudent/obj/PMStudent.csproj.nuget.dgspec.json
/PMStudent/PMStudent/obj/Debug/net6.0/_IsIncrementalBuild
/PMStudent/PMStudent/obj/Debug/net6.0/staticwebassets.pack.json
/PMStudent/PMStudent/obj/Debug/net6.0/staticwebassets.development.json
/PMStudent/PMStudent/obj/Debug/net6.0/staticwebassets.build.json
/PMStudent/PMStudent/obj/Debug/net6.0/project.razor.vs.json
/PMStudent/PMStudent/obj/Debug/net6.0/PMStudent.pdb
/PMStudent/PMStudent/obj/Debug/net6.0/PMStudent.MvcApplicationPartsAssemblyInfo.cs
/PMStudent/PMStudent/obj/Debug/net6.0/PMStudent.MvcApplicationPartsAssemblyInfo.cache
/PMStudent/PMStudent/obj/Debug/net6.0/PMStudent.genruntimeconfig.cache
/PMStudent/PMStudent/obj/Debug/net6.0/PMStudent.GeneratedMSBuildEditorConfig.editorconfig
/PMStudent/PMStudent/obj/Debug/net6.0/PMStudent.dll
/PMStudent/PMStudent/obj/Debug/net6.0/PMStudent.csproj.FileListAbsolute.txt
/PMStudent/PMStudent/obj/Debug/net6.0/PMStudent.csproj.CoreCompileInputs.cache
/PMStudent/PMStudent/obj/Debug/net6.0/PMStudent.csproj.CopyComplete
/PMStudent/PMStudent/obj/Debug/net6.0/PMStudent.csproj.BuildWithSkipAnalyzers
/PMStudent/PMStudent/obj/Debug/net6.0/PMStudent.csproj.AssemblyReference.cache
/PMStudent/PMStudent/obj/Debug/net6.0/PMStudent.assets.cache
/PMStudent/PMStudent/obj/Debug/net6.0/apphost.exe
/PMStudent/PMStudent/ScaffoldingReadMe.txt
/PMStudent/PMStudent/PMStudent.csproj.user
/PMStudent/PMLecture/obj/project.nuget.cache
/PMStudent/PMLecture/obj/project.assets.json
/PMStudent/PMLecture/obj/PMLecture.csproj.nuget.g.props
/PMStudent/PMLecture/obj/PMLecture.csproj.nuget.dgspec.json
/PMStudent/PMLecture/obj/Debug/net6.0/PMLecture.csproj.AssemblyReference.cache
/PMStudent/PMLecture/obj/Debug/net6.0/PMLecture.assets.cache
/PMStudent/PMLecture/PMLecture.csproj
/.vs/slnx.sqlite
/.vs/ProgressMan/v17/.wsuo
/PMStudent/.vs/PMStudent/FileContentIndex/b74b825e-ab53-4340-a841-db43d6be0b3d.vsidx
/PMStudent/.vs/PMStudent/config/applicationhost.config
*.vsidx
/PMStudent/.vs/PMStudent/v17/.suo
/PMStudent/PMLecture/bin/Debug/net6.0
/PMStudent/PMLecture/obj/Debug/net6.0/staticwebassets
/PMStudent/PMLecture/obj/Debug/net6.0/scopedcss/Views/Shared/_Layout.cshtml.rz.scp.css
/PMStudent/PMLecture/obj/Debug/net6.0/scopedcss/Views/Shared
/PMStudent/PMLecture/obj/Debug/net6.0/scopedcss/projectbundle/PMLecture.bundle.scp.css
/PMStudent/PMLecture/obj/Debug/net6.0/scopedcss/projectbundle
/PMStudent/PMLecture/obj/Debug/net6.0/scopedcss/bundle/PMLecture.styles.css
/PMStudent/PMLecture/obj/Debug/net6.0/scopedcss/bundle
/PMStudent/PMLecture/obj/Debug/net6.0/scopedcss
/PMStudent/PMLecture/obj/Debug/net6.0/refint/PMLecture.dll
/PMStudent/PMLecture/obj/Debug/net6.0/refint
/PMStudent/PMLecture/obj/Debug/net6.0/ref/PMLecture.dll
/PMStudent/PMLecture/obj/Debug/net6.0/ref
/PMStudent/PMLecture/obj/Debug/net6.0/_IsIncrementalBuild
/PMStudent/PMLecture/obj/Debug/net6.0/staticwebassets.pack.json
/PMStudent/PMLecture/obj/Debug/net6.0/staticwebassets.development.json
/PMStudent/PMLecture/obj/Debug/net6.0/staticwebassets.build.json
/PMStudent/PMLecture/obj/Debug/net6.0/project.razor.vs.json
/PMStudent/PMLecture/obj/Debug/net6.0/PMLecture.pdb
/PMStudent/PMLecture/obj/Debug/net6.0/PMLecture.MvcApplicationPartsAssemblyInfo.cache
/PMStudent/PMLecture/obj/Debug/net6.0/PMLecture.genruntimeconfig.cache
/PMStudent/PMLecture/obj/Debug/net6.0/PMLecture.GeneratedMSBuildEditorConfig.editorconfig
/PMStudent/PMLecture/obj/Debug/net6.0/PMLecture.dll
/PMStudent/PMLecture/obj/Debug/net6.0/PMLecture.csproj.FileListAbsolute.txt
/PMStudent/PMLecture/obj/Debug/net6.0/PMLecture.csproj.CoreCompileInputs.cache
/PMStudent/PMLecture/obj/Debug/net6.0/PMLecture.csproj.CopyComplete
/PMStudent/PMLecture/obj/Debug/net6.0/PMLecture.csproj.BuildWithSkipAnalyzers
/PMStudent/PMLecture/obj/Debug/net6.0/apphost.exe
/PMStudent/PMStudentApi/obj/Debug/net6.0
