html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#example .nav_link {
    margin: 0 auto;
    padding: 0;
    justify-content: center;
}

#example .nav_link:hover,
#example .nav_link.active{
    color: var(--mdb-link-hover-color);
}

.rounded{
    border-radius: 1rem !important;
}